body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #043873;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 219px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: white;
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    display: flex;
    gap: 15px;
}

.btn-login {
    background: #FFE492;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-try {
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.hero {
    background: url("element_garis.svg") no-repeat right center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 40px;
}

.hero .container,
.management .container,
.extension .container,
.customise .container,
.data .container,
.work .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.konten_management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-130px);
}

.konten_management h1 {
    color: white;
    font-size: 64px;
}

.konten_management p {
    font-size: 18px;
    color: white;
    line-height: 1.8;
}

.image-kosong img {
    width: 824px;
    height: 549px;
    transform: translateX(135px);
}

.management {
    margin-top: 200px;
    background-color: white;
}

.konten-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-133px);
    gap: 10px;
    background: url("element-underline.svg") no-repeat;
    background-position: left 40px;
    background-size: 500px 180px;
}

.konten-project h1 {
    font-size: 64px;
}

.konten-project p {
    font-size: 18px;
    line-height: 1.8;
}

.image-project img {
    width: 824px;
    height: 549px;
    transform: translateX(65px);
}

.hero-bulet {
    background: url("element-bulet.svg");
    background-repeat: no-repeat;
    background-position: left top 100px;
    background-size: 300px;
}

.img {
    min-width: 500px;
    height: 300px;
    margin: 50px;
    background-color: #C4DEFD;
}

.btn-started {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.work-together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background: url("element-underline.svg") no-repeat;
    background-size: 350px;
    background-position: left 130px top 60px;
}

.work-together h1{
    font-size: 64px;
}

.work-together p {
    font-size: 18px;
    line-height: 1.8;
}

.foto img {
    transform: translateX(-133px);
}

.work-together h1 {
    font-size: 50px;
}

.work-everywhere {
    background: url("element-bulet-2.svg") no-repeat;
    background-position: left;
    padding: 100px;
    background-size: 400px;
}

.text-work {
    background: url("element-underline-biru.svg") no-repeat;
    background-position: left 850px top 40px;
    background-size: 220px;
}

.btn-now {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.extension {
    color: white;
}

.konten-extension {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background: url("element-underline.svg") no-repeat;
    background-position: left 180px top 56px;
    background-size: 350px;
}

.konten-extension h1 {
    font-size: 64px;
}

.konten-extension p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-whitepace {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.customise {
    background-color: white;
}

.konten-customise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background: url("element-underline.svg") no-repeat;
    background-position: left top 108px;
    background-size: 450px;
}

.konten-customise h1 {
    font-size: 64px;
}

.konten-customise p {
    font-size: 18px;
    line-height: 1.8;
}

.image-customise {
    width: 100%;
    height: 420px;
    transform: translateX(-130px);
}

.btn-customise {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.text-plan {
    background: url("element-underline.svg") no-repeat;
    background-position: left 660px top 23px;
    background-size: 350px;
}

.text-plan h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 64px;
}

.text-plan p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    margin-top: 20px;
}

.card {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

.card-free {
    border: 1px solid #FFE492;
    padding: 20px;
    margin: 10px;
    width: 300px;
    margin-left: 100px;
    border-radius: 10px;
}

.card-personal {
    background-color: #043873;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
    border-radius: 10px;
}

.card-organization {
    border: 1px solid #FFE492;
    padding: 20px;
    margin: 10px;
    width: 300px;
    margin-right: 90px;
    border-radius: 10px;
}

.btn-card-free,
.btn-card-organization {
    border: 1px solid #FFE492;
    background-color: #ffffff;
    color: #000000;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.btn-card-personal {
    background-color: #4F9CF9;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 25px;
    margin-left: 5px;
}

.btn-taskey {
    background-color: #4F9CF9;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    margin-left: 46%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.data {
    margin-top: 100px;
    color: #000000;
    background-color: white;
}

.konten-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    background: url("element-underline.svg") no-repeat;
    background-position: left 130px top 56px;
    background-size: 380px;
}

.konten-data h1 {
    font-size: 64px;
}

.konten-data p {
    font-size: 18px;
    line-height: 1.8;
}

.image-data img {
    transform: translateX(175px);
}

.btn-data {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.sponsor {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.text-sponsor {
    background: url("element-underline.svg") no-repeat;
    background-position: left 610px top 27px;
    background-size: 350px;
}

.sponsor img {
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}

.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    color: white;
    margin-bottom: 10px;
}

.konten-work h1 {
    font-size: 64px;
}

.konten-work p {
    font-size: 18px;
    line-height: 1.8;
}

.image-work img {
      transform: translateX(-133px);
}

.btn-work {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.client {
    margin-top: 100px;
    padding: 80px 0;
    background: #fff;
}

.text-says {
    background: url("underline-says.svg") no-repeat;
    background-position: left 800px top 19px;
    background-size: 200px;
}

.client h1 {
    text-align: center;
    margin-bottom: 60px;
}

.container-client {
    width: 370px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    display: grid;
    grid-template-areas: "foto foto" "header header" "menu content";
    grid-template-columns: 70px 1fr;
    gap: 20px;
    padding: 30px;
}

.group-f {
    grid-area: foto;
}

.komentar {
    grid-area: header;
    line-height: 28px;
    border-bottom: 1px solid #D9D9D9;
}

.foto-komentar1 {
    grid-area: menu;
}

.foto-komentar1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.jabatan {
    grid-area: content;
}

.jabatan h3 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #043873;
}

.jabatan p {
    font-size: 14px;
    line-height: 22px;
}

.biru {
    background-color: #4F9CF9;
    color: #ffffff;
}

.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.footer {
    margin-top: 100px;
    color: #fff;
}

.footer-content {
    text-align: center;
}

.footer-content p {
    color: white;
    margin: 20px 0;
}

.btn-footer {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

.sales {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-footer h1 {
    font-size: 28px;
    color: white;
}

.logo-footer img {
    width: 40px;
}

.menu-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}

.menu-whitepace {
    width: 260px;
}

.menu-product p,
.menu-resources p,
.menu-company p {
    margin-top: 15px;
}

.menu-product h3,
.menu-resources h3,
.menu-company h3 {
    margin-bottom: 20px;
}

.btn-footer-last {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    border-top: 1px solid #2e5b9a;
    padding-top: 30px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 100px;
}

.footer-center {
    display: flex;
    margin-right: 300px;
    gap: 35px;
}

.footer-right {
    display: flex;
    gap: 20px;
    margin-right: 100px;
}