body {
    overflow-x: hidden;
    font-family: sans-serif;
    background: #043873;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.container-card,
.container-sponsor,
.footer-bottom,
.menu-footer .container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 100px 60px;
    box-sizing: border-box;
}


.menu-humburger {
    display: none;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 20px 60px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    color: white;
    font-size: 28px;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu ul {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.btn {
    display: flex;
    gap: 15px;
}

.btn-login {
    background: #FFE492;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-try {
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.hero {
    background: url("element_garis.svg") no-repeat right center;
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 100px 60px;
    gap: 80px;
}

.management {
    padding: 100px 0;
}

.konten_management {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.image-kosong {
    display: flex;
    justify-content: flex-end;
}

.image-kosong img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.konten_management h1 {
    color: white;
    font-size: 64px;
}

.konten_management p {
    font-size: 18px;
    color: white;
    line-height: 1.8;
}

.btn-try-whitepace {
    background: #4F9CF9;
    color: white;
    font-size: 18px;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
}

.management .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.management {
    background-color: #fff;
}

.konten-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.image-project {
    display: flex;
    justify-content: flex-end;
}

.image-project img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.konten-project h1 {
    font-size: 64px;
}

.konten-project p {
    font-size: 18px;
    line-height: 1.8;
}

.hero-bulet {
    background: url("element-bulet.svg");
    background-repeat: no-repeat;
    background-position: left top 100px;
    background-size: 300px;
}

.img {
    min-width: 500px;
    height: 300px;
    margin: 50px;
    background-color: #C4DEFD;
}

.btn-started {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.foto {
    display: flex;
}

.foto img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.work-together {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.work-together h1 {
    font-size: 64px;
}

.work-together p {
    font-size: 18px;
    line-height: 1.8;
}

.work-everywhere {
    background: url("element-bulet-2.svg") no-repeat;
    background-position: left;
    background-size: 400px;
    padding: 100px 0;
}


.text-work h1 {
    text-align: center;
    margin-top: 100px;
    color: #fff;
    font-size: 64px;
}

.text-work p {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    line-height: 1.8;
    font-size: 18px;
}

.btn-now {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.extension {
    color: white;
    padding: 100px 0;
}

.extension .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.konten-extension {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.image-extension {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-extension img {
    width: 100%;
    max-width: 680px;
    height: auto;
}

.konten-extension h1 {
    font-size: 64px;
}

.konten-extension p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-whitepace {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    width: fit-content;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.customise {
    background-color: white;
    padding: 100px 0;
}

.customise .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-customise {
    display: flex;
    justify-content: flex-start;
}

.image-customise img {
    width: 100%;
    max-width: 680px;
    height: auto;
}


.konten-customise h1 {
    font-size: 64px;
}

.konten-customise p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-customise {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}


.text-plan h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 64px;
}

.text-plan p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    margin-top: 20px;
}

.container-card {
    max-width: 1480px;
    margin: 0 auto;
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.card-free,
.card-organization {
    width: 100%;
    min-height: 498px;
    padding: 40px 30px;
    border: 1px solid #FFE492;
    border-radius: 10px;
    background: #fff;
    box-sizing: border-box;
}

.card-personal {
    width: 472px;
    min-height: 560px;
    padding: 60px 30px;
    background: #043873;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateY(-20px);
}

.card h1 {
    font-size: 24px;
    margin-bottom: 25px;
}

.card h2 {
    font-size: 36px;
    margin-bottom: 25px;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 500;
}

.card p {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 18px;
}

.btn-card-free,
.btn-card-organization {
    margin-top: 25px;
    padding: 16px 30px;
    border: 1px solid #FFE492;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
}

.btn-card-personal {
    margin-top: 25px;
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    background: #4F9CF9;
    color: #fff;
    cursor: pointer;
}

.btn-taskey {
    background-color: #4F9CF9;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    margin: 25px auto 50px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

.data {
    background-color: #fff;
    padding: 100px 0;
}

.data .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-data {
    display: flex;
    justify-content: flex-end;
}

.image-data img {
    width: 100%;
    max-width: 650px;
}

.konten-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.konten-data h1 {
    font-size: 64px;
}

.konten-data p {
    font-size: 18px;
    line-height: 1.8;
}

.btn-data {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.container-sponsor {
    padding: 80px 60px;
}

.sponsor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.sponsor img {
    width: 120px;
    height: auto;
}


.text-sponsor h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 64px;
}

.sponsor img:first-child {
    width: 50px;
}

.sponsor img:last-child {
    width: 120px;
}

.work {
    padding: 100px 0;
}

.work .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.image-work {
    display: flex;
    justify-content: flex-start;
}

.image-work img {
    width: 100%;
    max-width: 650px;
}

.konten-work h1 {
    font-size: 64px;
    color: #fff;
}

.konten-work p {
    font-size: 18px;
    line-height: 1.8;
    color: #fff;
}

.btn-work {
    background-color: #4F9CF9;
    border: none;
    color: #ffffff;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

.client {
    padding: 120px 0;
    background-color: #fff;
}

.client .container {
    max-width: 1480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
}

.text-says h1 {
    font-size: 64px;
}

.client h1 {
    text-align: center;
    margin-bottom: 60px;
}

.container-client {
    width: 100%;
    max-width: 370px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .08);
    display: grid;
    grid-template-areas: "foto foto" "header header" "menu content";
    grid-template-columns: 70px 1fr;
    gap: 20px;
    padding: 30px;
}

.group-f {
    grid-area: foto;
}

.komentar {
    grid-area: header;
    line-height: 28px;
    border-bottom: 1px solid #D9D9D9;
}

.foto-komentar1 {
    grid-area: menu;
}

.foto-komentar1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.jabatan {
    grid-area: content;
}

.jabatan h3 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #043873;
}

.jabatan p {
    font-size: 14px;
    line-height: 22px;
}

.biru {
    background-color: #4F9CF9;
    color: #ffffff;
}

.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.footer {
    margin-top: 100px;
    overflow: hidden;
    color: #fff;
}

.footer-content {
    text-align: center;
}

.footer-content h1 {
    font-size: 64px;
}

.footer-content p {
    color: white;
    font-size: 18px;
    line-height: 1.8;
    margin: 20px 0;
}

.btn-footer {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

.sales {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo-footer h1 {
    font-size: 28px;
    color: white;
}

.logo-footer img {
    width: 40px;
}

.menu-footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1.5fr;
    gap: 60px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-bottom {
    border-top: 1px solid #2e5b9a;
}

.footer-left,
.footer-center,
.footer-right {
    margin: 0;
}

.footer-center {
    display: flex;
    gap: 32px;
}

.menu-whitepace {
    width: 100%;
    max-width: 260px;
}

.menu-try p{
    max-width:300px;
    line-height:1.7;
    margin-top: 15px;
}

.menu-product p,
.menu-resources p,
.menu-company p {
    margin-top: 15px;
}

.menu-product h3,
.menu-resources h3,
.menu-company h3 {
    margin-bottom: 20px;
}

.btn-footer-last {
    background: #4F9CF9;
    color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px 0;
}

@media (max-width:1440px) {

    .container {
        max-width: 1376px;
    }

    header {
        max-width: 1376px;
    }

    .container-card {
        max-width: 1376px;
    }

    .card {
        gap: 20px;
    }

    .menu a {
        font-size: 15px;
    }

    .btn-login,
    .btn-try {
        font-size: 15px;
    }

    .container-sponsor {
        max-width: 1376px;
        width: 100%;
        padding: 80px 60px;
    }

    .menu-footer .container {
        max-width: 1376px;
    }

    .footer-bottom {
        max-width: 1376px;
    }

    .card-free,
    .card-personal,
    .card-organization {
        width: 100%;
    }

    .hero .container,
    .management .container,
    .extension .container,
    .customise .container,
    .data .container,
    .work .container {
        gap: 48px;
    }

    .image-kosong img,
    .image-project img,
    .image-customise img,
    .image-data img,
    .image-work img {
        max-width: 100%;
    }

    .konten_management h1 {
        font-size: 50px;
    }

    .konten-project h1,
    .work-together h1,
    .konten-extension h1,
    .konten-customise h1,
    .konten-data h1,
    .footer-content h1,
    .konten-work h1 {
        font-size: 48px;
    }

    .text-plan h1,
    .text-work h1,
    .text-sponsor h1,
    .text-says h1 {
        font-size: 48px;
    }

}


@media (max-width:1152px) {
    .container {
        max-width: 1088px;
    }

    .container-client {
        max-width: 1088px;
        width: 100%;
        box-sizing: border-box;
    }

    .menu {
        display: none;
    }

    .menu-humburger {
        display: block;
    }

    header {
        max-width: 1088px;
    }

    .container-sponsor {
        max-width: 1088px;
        width: 100%;
    }

    .menu-footer .container {
        max-width: 1088px;
    }

    .footer-bottom {
        max-width: 1088px;
    }

    .container-card {
        max-width: 1088px;
    }

    .card-free,
    .card-personal,
    .card-organization {
        width: 100%;
    }

    .konten-project h1,
    .work-together h1,
    .konten_management h1,
    .konten-extension h1,
    .konten-customise h1,
    .konten-data h1,
    .footer-content h1,
    .konten-work h1 {
        font-size: 38px;
    }

    .btn-login,
    .btn-started,
    .btn-now,
    .btn-whitepace,
    .btn-customise,
    .btn-taskey,
    .btn-data,
    .btn-work,
    .btn-footer,
    .btn-footer-last .btn-try {
        font-size: 12px;
    }

    .text-plan h1,
    .text-work h1,
    .text-sponsor h1,
    .text-says h1 {
        font-size: 38px;
    }

    .logo-footer h1,
    .menu-try h1 {
        font-size: 20px;
    }

    .footer-left img {
        width: 18px;
    }

    .footer-left span,
    .footer-center p {
        font-size: 13px;
    }

    .menu-product h3,
    .menu-resources h3,
    .menu-company h3 {
        font-size: 17px;
    }

    .konten_management p,
    .konten-project p,
    .work-together p,
    .konten-extension p,
    .konten-customise p,
    .text-plan p,
    .text-work p,
    .menu-whitepace p,
    .menu-product p,
    .menu-resources p,
    .menu-company p,
    .menu-try p,
    .konten-data p,
    .konten-work p,
    .footer-content p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .menu-humburger {
        display: block;
    }

    header {
        max-width: 728px;
    }

    .btn-login,
    .btn-try {
        display: none;
    }

    .container,
    .container-card,
    .container-sponsor,
    .footer-bottom,
    .menu-footer .container {
        padding: 50px 24px;
    }

    .btn-try-whitepace {
        background: #4F9CF9;
        color: white;
        font-size: 15px;
        border: none;
        padding: 15px 20px;
        border-radius: 8px;
        cursor: pointer;
    }

    .hero .container,
    .management .container,
    .extension .container,
    .customise .container,
    .data .container,
    .work .container {
        grid-template-columns: 1fr;
        gap: 40px;
        text-align: center;
    }

    .konten_management,
    .konten-project,
    .work-together,
    .konten-extension,
    .konten-customise,
    .konten-data,
    .konten-work {
        align-items: center;
        text-align: center;
    }

    .footer-content {
        text-align: left;
        padding-left: 20px;
    }

    .sales {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .footer-bottom {
        max-width: 728px;
    }

    .footer-right {
        width: 100%;
        justify-content: flex-start;
    }

    .client .container {
        display: flex !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }

    .client .container::-webkit-scrollbar {
        display: none;
    }

    .container-client {
        flex: 0 0 340px;
    }

    .card {
        display: flex !important;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        gap: 20px;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        scrollbar-width: none;
        -webkit-overflow-scrolling: touch;
    }

    .card::-webkit-scrollbar {
        display: none;
    }

    .card-free,
    .card-personal,
    .card-organization {
        min-width: 400px;
    }

    .sponsor {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
    }

    .sponsor img {
        width: 120px;
        height: auto;
    }

    .image-kosong,
    .image-extension,
    .image-project,
    .image-customise,
    .image-data,
    .image-work,
    .foto {
        display: flex;
        justify-content: center;
    }

    .management .container:nth-of-type(2) {
        display: flex;
        flex-direction: column;
    }

    .work-together {
        order: 1;
    }

    .foto {
        order: 2;
    }


    .data .container:nth-of-type(2) {
        display: flex;
        flex-direction: column;
    }

    .konten-data {
        order: 2;
    }

    .image-data {
        order: 1;
    }

    .image-kosong img,
    .image-project img,
    .image-extension img,
    .image-customise img,
    .image-data img,
    .image-work img,
    .foto img {
        width: 100%;
        max-width: 540px;
        height: auto;
    }


    .menu-footer .container {
        max-width: 728px;
        margin: auto;
        display: grid;
        gap:40px;
        grid-template-columns: 1fr;
    }

    .konten-project h1,
    .work-together h1,
    .konten_management h1,
    .konten-extension h1,
    .konten-customise h1,
    .konten-data h1,
    .footer-content h1,
    .konten-work h1 {
        font-size: 54px;
    }


    .text-plan h1,
    .text-sponsor h1,
    .text-says h1 {
        font-size: 54px;
    }

    .konten_management p,
    .konten-project p,
    .work-together p,
    .konten-extension p,
    .menu-whitepace p,
    .menu-product p,
    .menu-resources p,
    .menu-company p,
    .menu-try p,
    .konten-work p,
    .footer-content p {
        font-size: 18px;
        max-width: 728px;
    }

    .konten-data p {
        font-size: 17px;
        max-width: 728px;
    }

    .text-work h1 {
        text-align: left;
        margin-top: 100px;
        color: #fff;
        font-size: 58px;
        padding-left: 20px;
    }

    .text-work p {
        text-align: left;
        margin-top: 20px;
        color: #fff;
        line-height: 1.8;
        font-size: 17px;
        padding-left: 19px;
    }

    .sponsor img {
        width: 190px;
        height: auto;
    }

    .btn-taskey {
        margin: 25px 0 50px 20px;
    }
}

@media (max-width: 320px) {

    header {
        max-width: 288px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .logo img {
        width: 28px;
    }

    .konten_management p,
    .konten-project p,
    .work-together p,
    .konten-extension p,
    .menu-whitepace p,
    .menu-product p,
    .menu-resources p,
    .menu-company p,
    .menu-try p,
    .konten-data p,
    .footer-content p {
        font-size: 13px;
        max-width: 288px;
    }

    .konten-project h1,
    .work-together h1,
    .konten_management h1,
    .konten-extension h1,
    .konten-customise h1,
    .konten-data h1,
    .footer-content h1,
    .konten-work h1 {
        font-size: 40px;
    }

    .text-plan h1,
    .text-sponsor h1,
    .text-says h1 {
        font-size: 40px;
    }

    .text-plan p {
        font-size: 13px;
    }

    .text-work h1 {
        text-align: left;
        margin-top: 100px;
        color: #fff;
        font-size: 40px;
    }

    .text-work p {
        text-align: left;
        margin-top: 20px;
        color: #fff;
        line-height: 1.8;
        font-size: 13px;
    }

    .konten-customise p {
        font-size: 13px;
    }

    .konten-work p {
        font-size: 14px;
        width: 100%;
        max-width: 288px;
        padding-left: 17px;
        line-height: 1.8;
        color: #fff;
    }

    .card-free,
    .card-personal,
    .card-organization {
        min-width: 290px;
    }

    .container-client {
        min-width: 290px;
    }

    .menu-footer .container {
        max-width: 288px;
        text-align: center;
    }

    .menu-whitepace {
        text-align: center;
    }

    .logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 288px;
    }

    .footer-left {
        display: flex;
    }

    .footer-center {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .footer-right {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .image-kosong,
    .image-extension,
    .image-project,
    .image-customise,
    .image-data,
    .image-work,
    .foto {
        display: flex;
        justify-content: center;
    }

    .image-kosong img,
    .image-project img,
    .image-extension img,
    .image-customise img,
    .image-data img,
    .image-work img,
    .foto img {
        width: 100%;
        max-width: 290px;
        height: auto;
    }

    .btn-try-whitepace {
        background: #4F9CF9;
        color: white;
        font-size: 13px;
        border: none;
        padding: 15px 20px;
        border-radius: 8px;
        cursor: pointer;
    }

    .konten-customise p {
        width: 100%;
        max-width: 288px;
        padding-left: 15px;
    }

    .text-plan p {
        font-size: 13px;
        padding-left: 15px;
        width: 100%;
        max-width: 288px;
    }
}